@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --ff-primary: "Poppins", "Inter", "Noto Sans", sans-serif;
  --ff-secondary: "Noto Sans", "Poppins", sans-serif;

  --clr-primary: hsl(0, 0%, 100%);
  --clr-secondary: #0d6efd;
  --clr-accent: hsl(0, 0%, 30%);

  --clr-gray: #adb5bd;

  --clr-glow: #ffd900;

  --clr-teal-green: #20c997;

  --clr-green: #198754;

  --clr-red: #dc3545;
}

/* User Preference : Dark Mode  */

@media (prefers-color-scheme: dark) {
  :root {
    --clr-primary: hsl(210, 11%, 15%);
    --clr-secondary: #0d6efd;
    --clr-accent: hsl(0, 0%, 70%);
  }
}

/* Custom Utils */

.text-shadow-4 {
  text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.364),
    -1px -1px 1px hsla(0, 0%, 0%, 0.264), 1px -1px 1px hsla(0, 0%, 0%, 0.264),
    -1px 1px 1px hsla(0, 0%, 0%, 0.264);
}

.curs-point {
  cursor: pointer;
}
.curs-none {
  cursor: default;
}

.no-border {
  border: none;
  background-color: #fff;
}

/* Fonts */

.f-st-italic {
  font-style: italic;
}

/* General Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: var(--ff-primary);
}

ul[role="list"],
ol[role="list"],
ul,
ol {
  list-style: none;
}

html {
  hanging-punctuation: first last; /* Not supported in chrome */
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

picture,
svg,
video {
  display: block;
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

@media (prefers-reduced-motion: reduce) {
  :has(:target) or html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
