/* Nav Page */

.page-nav {
  margin-top: 8rem;
}

.breadcrumb-link {
  text-decoration: none;
  font-weight: 600;

  border-left: 2px solid var(--clr-secondary);
  padding-left: 10px;
}

/* Main Content */

.main {
  flex: 1 1 0;
}

.heading__title {
  font-weight: 600;
}

#led-prednosti .card {
  border: 2px solid var(--clr-teal-green);
  border-radius: 10px;
  transition: background-color, color 0.2s ease, transform 0.2s ease-in-out;
  cursor: pointer;
}

#led-prednosti .card:hover {
  background-color: var(--clr-teal-green);
  color: #fff;
  transform: translateY(-5px);
  text-shadow: 1px 1px 2px #000, 0 0 1em #00000087, 0 0 0.2em #00000085;
}

#led-nedostaci .card {
  border: 2px solid var(--clr-red);
  border-radius: 10px;
  transition: background-color, color 0.2s ease, transform 0.2s ease-in-out;
  cursor: pointer;
}

#led-nedostaci .card:hover {
  background-color: var(--clr-red);
  color: #fff;
  transform: translateY(-5px);
  text-shadow: 1px 1px 2px #000, 0 0 1em #00000087, 0 0 0.2em #00000085;
}

/* Sidebar */

.sidebar {
  border-left: 1px solid hsla(0, 0%, 50%, 0.131);
}

.sidebar .search {
  width: 100%;
}

.contact-link {
  opacity: 0.8;
  display: inline-block;
}

.contact-link::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: var(--clr-secondary);
  transition: 300ms;
}

.contact-link:hover::after {
  opacity: 1;
  font-weight: 900;
  width: 100%;
}

@media (max-width: 1200px) {
  .sidebar {
    margin: 3rem 0;
  }
}
@media (min-width: 1200px) {
  .sidebar {
    width: 30%;
  }
}
