/* Nav Page */

.page-nav {
  margin-top: 8rem;
}

.breadcrumb-link {
  text-decoration: none;
  font-weight: 600;

  border-left: 2px solid var(--clr-secondary);
  padding-left: 10px;
}

/* Main Content */

.main {
  flex: 1 1 0;
}

.heading__title {
  font-weight: 600;
}

#hoteli-apartmani .img-border,
#benzinske-postaje .img-border,
#uredi .img-border,
#ljekarne .img-border,
#saloni .img-border,
#obrti-radione .img-border,
#sportski-tereni .img-border,
#osiguranje-objekata .img-border {
  border-width: 3px;
  transition: border-color 0.2s ease;
}
#hoteli-apartmani .img-border:hover,
#benzinske-postaje .img-border:hover,
#uredi .img-border:hover,
#ljekarne .img-border:hover,
#saloni .img-border:hover,
#obrti-radione .img-border:hover,
#sportski-tereni .img-border:hover,
#osiguranje-objekata .img-border:hover {
  border-color: var(--clr-glow);
}
